html,
body {
   margin:0;
   padding:0;
   min-height: 100%;
   height:100%;
   /* padding-bottom: 200px; */
   
}


article{
    padding: 0px 0 40px 0;
}

.bg{
    width: 100%;
    min-width:  100%;
    min-height: 100%;
    height: auto;
    display: block;
    position: relative;
    }
    
.bg::after {
    content: "";
    background: url(bglogin.jpg) no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* sidebar */
.biodataUser{
    height: 25%;
    text-align: left;
    margin-bottom:10px; 
    height: auto;
    position: relative;
    padding-top: 10px;
}

.biodataUser::after{
    content: "";
    background: url(profile.jpg) no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}



/* body {
   padding-bottom:120px;   
}

.footer {
   position: relative;
   bottom:0;
   width:100%;
   height:120px;   /* Height of the footer */
   /* background-color:#afcfeb; */
/* } */

/* Content */
h2{
    text-align: center;
}
.icon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #1f317f;
    display: flex;
    font-size: 62px;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    color: #F5F5F5;
}

.icon:hover {
    /* opacity: 0.5 !important; */
    box-shadow: 0 0 15px #142850;
    text-shadow: 0 0 15px #142850;
}

.help{
    position: fixed;
    padding-bottom:120px;
    bottom: 0px;
    right: 30px
}

.box-fitur{
    text-align: center;
    flex-direction: column;
    /* display: flexbox; */
    /* top: 0; */
    /* margin-top: 40px; */
}


p{
    color: black;
    text-align: center;
}

h3{
    color: black;
    /* font-size: 18px !important; */
    /* padding-top: 12px; */
    
}

.logo{
    height: 100px;
    width: 100px;

}

.logo-atas {
    text-align: center;
    display: inline-block;
    padding: 10px 10px 16px 10px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    border: 2px solid #F5F5F5;
    border-radius: 0px 0px 20px 20px;
}

.logo-about{
    text-align: center;
    font-size: 24px;
    display: inline-block;
    color: #F5F5F5;
    padding-top: 10px;
}


.button-pill {
    background-color: #1f317f;
    border: none;
    color: #F5F5F5;
    padding: 10px 40px;
    text-decoration: none;
    margin: auto;
    border-radius: 16px;   
  }

.tengahpls{
    position: absolute;
    left: 50%;

}


.icon a:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #142850;
    filter: blur(3px);
  }
  
.icon a:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #142850;
    text-shadow: 0 0 15px #142850;
  }



hr{
    border: none !important;
    height: 2px !important;
    width: 75%;
    background-color: #1f317f;
    /* text-align: center !important;
    justify-content: center !important;
    align-items: center !important; */
    margin: auto !important;
}



/* Login Section */
.login-form{
    position: fixed;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);

    border-radius: 10px;
    border-color: #F5F5F5;
    padding: 40px 20px 40px 20px;
    max-width: 50%;
    background-color: #F5F5F5;
    /* height: 70%; */
    z-index: 0;
}

.button-login{
    background-color: #1f317f;
    width: 100%;
    letter-spacing: 0.2em;
}
.box-img{
    text-align: center;
    align-content: center;
    align-self: center;
}

.login-img{
    max-width: 90%;
    max-height: 90%;
}

.box-login{
    align-content: center;
    align-self: center;
    margin: 0;
    
}


/* Admin */
/* #cardGroup{
    margin-bottom: 0;
    left: 50%;
    top: 20%;  
    position: relative;
}

.card-status{
    max-height : 10rem;
    height: auto;
}     */

#btn-stats {
    background-color: #1f317f;
    border: none;
    color: #F5F5F5;
    width: 90%;
    text-decoration: none;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#laporanContent, #cardLaporan{
    /* overflow: auto; */
    height: auto;
    /* margin-bottom: 400px; */
}



.card{
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
    /* height: 30%; */
    border: 1px solid #1f317f;
    background-color: #F5F5F5;
  }


  .card-header{
    background-color:#1f317f;
    color: white; 
    margin-top: 0px;
    
  }

  .card-body{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
  }

  #actionButton{
    width: 30px;
    height: 30px;
    border: none;
    display: inline-block;
    background-color: #1f317f;
    color: #F5F5F5;
    border-radius: 50%;
  }




  /* Login New Banget :( */

  #loginBox{
    position: fixed;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-color: #F5F5F5;
    padding: 40px 20px 40px 20px;
    max-width: 50%;
    width: 70%;
    background-color: #F5F5F5;
    /* height: 70%; */
  }

/* Table */
  .pagination{
    text-align: center;
    align-content: center;
    align-self: center;
    justify-content: center;
  }
  .page-link{
    color: black !important;
  }
  span.page-link{
    /* background-color: #1f317f !important; */
    color: white !important;
  }

  th{
    font-size: 12px;
  }

  